GenerateClass/.vs/GenerateClass/FileContentIndex/43f08e90-eeac-4afb-ae6c-71125e192252.vsidx
GenerateClass/.vs/GenerateClass/FileContentIndex/read.lock
GenerateClass/.vs/GenerateClass/v17/.suo
GenerateClass/GenerateClass/obj/GenerateClass.csproj.nuget.dgspec.json
GenerateClass/GenerateClass/obj/GenerateClass.csproj.nuget.g.props
GenerateClass/GenerateClass/obj/GenerateClass.csproj.nuget.g.targets
GenerateClass/GenerateClass/obj/project.assets.json
GenerateClass/GenerateClass/obj/project.nuget.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.AssemblyInfo.cs
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.AssemblyInfoInputs.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.assets.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.csproj.AssemblyReference.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.GeneratedMSBuildEditorConfig.editorconfig
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.GlobalUsings.g.cs
GenerateClass/GenerateClass/obj/Debug/net7.0/apphost.exe
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.csproj.BuildWithSkipAnalyzers
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.csproj.CoreCompileInputs.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.csproj.FileListAbsolute.txt
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.dll
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.genruntimeconfig.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.pdb
GenerateClass/GenerateClass/obj/Debug/net7.0/ref/GenerateClass.dll
GenerateClass/GenerateClass/obj/Debug/net7.0/refint/GenerateClass.dll
GenerateClass/GenerateClass/bin/Debug/net7.0/GenerateClass.deps.json
GenerateClass/GenerateClass/bin/Debug/net7.0/GenerateClass.dll
GenerateClass/GenerateClass/bin/Debug/net7.0/GenerateClass.exe
GenerateClass/GenerateClass/bin/Debug/net7.0/GenerateClass.pdb
GenerateClass/GenerateClass/bin/Debug/net7.0/GenerateClass.runtimeconfig.json
