GenerateClass/.vs/GenerateClass/FileContentIndex/43f08e90-eeac-4afb-ae6c-71125e192252.vsidx
GenerateClass/.vs/GenerateClass/FileContentIndex/read.lock
GenerateClass/.vs/GenerateClass/v17/.suo
GenerateClass/GenerateClass/obj/GenerateClass.csproj.nuget.dgspec.json
GenerateClass/GenerateClass/obj/GenerateClass.csproj.nuget.g.props
GenerateClass/GenerateClass/obj/GenerateClass.csproj.nuget.g.targets
GenerateClass/GenerateClass/obj/project.assets.json
GenerateClass/GenerateClass/obj/project.nuget.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.AssemblyInfo.cs
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.AssemblyInfoInputs.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.assets.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.csproj.AssemblyReference.cache
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.GeneratedMSBuildEditorConfig.editorconfig
GenerateClass/GenerateClass/obj/Debug/net7.0/GenerateClass.GlobalUsings.g.cs
